**/bin/
**/obj/
**/.git/
**/.vs/
**/.idea/
**/.vscode/
**/TestResults/
**/*.user
**/*.suo
**/*.nupkg
**/.DS_Store
**/Thumbs.db
**/node_modules/
README.md
.github/
LICENSE
CONTRIBUTING.md
docker-compose*.yml
*.md
